@model string[]
<div class="row hidden-xs" style="height:50px; background-color:gainsboro">
    <ul class="nav navbar-nav">
        <li><a>Вы здесь:</a></li>
        <li>@Html.ActionLink("Главная","MainPage","Home")</li>
      @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Catalog")
      {
        <li>@Html.ActionLink("-> Каталог", "Price", "Catalog")</li>
      }

        @for (int i = 0; i < Model.Length; i++)
        {
            switch (i)
            {
                case 0:
                    <li><a>-> @Model.ElementAt(0)</a></li>
                    break;
                case 1:
                      <li><a>-> @Model.ElementAt(1)</a></li>
                        break;
                case 2:
                    <li><a>-> @Model.ElementAt(2)</a></li>
                    break;
                case 3:
                    <li><a>-> @Model.ElementAt(3)</a></li>
                    break;
                default:
                    break;
            }
        }
                     

    </ul>
</div>
