@model evrostroy.Web.Models.MainCharacteristicProductModels

<link href="~/Content/Site.css" rel="stylesheet" />

@*<div class="container">
    <div class="row">*@
      
        <div class="btn-group btn-breadcrumb">
            <a href="/Home/MainPage" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
            @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Catalog")
            {
                 @Html.ActionLink("Каталог", "Price", "Catalog", new {@class="btn btn-primary"})
            }
            @if (Model.Category != null)
            {
              //проверяем на равенство для акционного товара(новинкаб скидка уценка)
                if (Model.Category.ToLower() == "новинка" || Model.Category.ToLower() == "уценка" || Model.Category.ToLower() == "скидка")
                {
                 
                        <a href="/Catalog/ProductStock?metka=@Model.Category" class="btn btn-primary">@Model.Category</a>
                 
                }
                else
                {
                    
                        <a href="/Catalog/ProductCat?num=1 &name=@Model.Category" class="btn btn-primary">@Model.Category</a>

                }
                if (Model.Podcategory1 != null && !Model.Podcategory1.IsEmpty())
                {

                        <a href="/Catalog/ProductCat?&name=@Model.Podcategory1&cat=@Model.Category&podcat=@Model.Podcategory1" class="btn btn-primary">@Model.Podcategory1</a>
                }
                if (Model.Podcategory2 != null && !Model.Podcategory2.IsEmpty())
                {
                        if (Model.Num == 0)
                    {
                            <a href="/Catalog/ProductCat?num=0&name=@Model.Podcategory2&cat=@Model.Category&podcat=@Model.Podcategory1" class="btn btn-primary">@Model.Podcategory2</a>
                        }
                        else
                        {
                            if (Model.Num == 2)
                            {
                                <a href="/Catalog/ProductCat?num=2&name=@Model.Podcategory2&cat=@Model.Category&podcat=@Model.Podcategory1" class="btn btn-primary">@Model.Podcategory2</a>
                            }
                            else
                            {
                                <a href="/Catalog/ProductCat?&name=@Model.Podcategory2&cat=@Model.Category&podcat=@Model.Podcategory1" class="btn btn-primary">@Model.Podcategory2</a>
                            }
                        }
                }
                if (Model.ID != 0)
                {
                    <a class="btn btn-primary">@Model.Tov.Название</a>  
                }
            }
           </div>
    @*</div>
</div>*@



