@using evrostroy.Domain;
@model IEnumerable<Пользователи>
@{
    ViewBag.Title = "Главная";
}

<table>
    <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Телефон</td>
        <td>Email</td>
        <td>Город</td>
    </tr>
    @foreach(var i in Model)
    {
        <tr>
            <td>@i.ИдПользователя</td>
            <td>@i.Имя</td>
            <td>@i.Телефон</td>
            <td>@i.Email</td>
            <td>@i.Город</td>
        </tr>
    }
</table>