<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ЛюксЕвроСтрой</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ЛюксЕвроСтрой", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
         
            <div class="flr mr10 mt10">
                @Html.Partial("Enter")
            </div>
            <div class="flr mr40 mt10">
                @Html.Partial("Cart")
            </div>

            <br /><br />
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "MainPage", "Home")</li>
                    <li>@Html.ActionLink("Каталог", "Price", "Catalog")</li>
                    <li>@Html.ActionLink("Доставка", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Оплата", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Уценка", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Скидки и акции", "Contact", "Home")</li>
                    <li>@Html.ActionLink("О магазине", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Отзывы", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Статьи", "Contact", "Home")</li>
                </ul>
            </div>     
        </div>
    </div>
    @*правое меню*@
    <div class="row panel mt50" >
        <div id="categories" class="col-sm-2" style="background-color:lightgray; padding-top:20px;">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="container body-content" style="margin-left:18vw;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - ЛюксЕвроСтрой </p>
            </footer>
        </div>

    </div>

   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
