
@using evrostroy.Domain
@model Товары
<div class="col-sm-3" style="min-height:550px;">
    <div class="img-responsive">
        <img src="~/Content/Image/imageDefault.jpg" />
    </div>
    <div class="list-group" style="min-height:100px;">
        <div class="label label-info">@Model.Категория</div>
        <div>@Model.Производитель</div>
        <div>@Model.Название</div>
        <div class="label label-primary">Цена: @Model.Цена руб.</div>
        @if (Model.Скидка != null)
            {
            <div class="label label-danger">Скидка: @Model.Скидка %</div>
                <div class="label label-primary">Цена со скидкой: @Model.ЦенаСоСкидкой руб.</div>
        }
        @if (Model.Метка == "уценка" || Model.Метка == "новинка")
            {
            <div class="label label-warning"> @Model.Метка</div>          
            }
    </div>
    <div class="btn-group">
        @Html.ActionLink("Купить", "Buy", "Buy", new { @class = "btn btn-success" })
        @Html.ActionLink("В корзину", "Buy", "Buy", new { @class = "btn btn-info" })
    </div>
</div>