
<div class="row mt10">
    @foreach (var prod in Model.Products)
    { <div class="col-sm-3" style="min-height:550px;">
        <div class="img-responsive">
            <img src="~/Content/Image/imageDefault.jpg" />
        </div>
        <div class="list-group" style="min-height:100px;">
            <div class="label label-info">@prod.Категория</div>
            <div>@prod.Производитель</div>
            <div>@prod.Название</div>
            <div class="label label-primary">Цена: @prod.Цена руб.</div>
            @if (prod.Скидка != null)
            {
                <div class="label label-danger">Скидка: @prod.Скидка %</div>
                <div class="label label-primary">Цена со скидкой: @prod.ЦенаСоСкидкой руб.</div>
            }
        </div>
        <div class="btn-group">
            @Html.ActionLink("Купить", "Buy", "Buy", new { @class = "btn btn-success" })
            @Html.ActionLink("В корзину", "Buy", "Buy", new { @class = "btn btn-info" })
        </div>
    </div>
    }
</div>