@model evrostroy.Web.Models.LoginModel
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="panel mt30">
    <div class="panel-heading">
        <h3>Вход в систему:</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Введите имя пользователя и пароль, для получения полного доступа.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        

            @Html.ValidationMessageFor(m => m.NameIn)
            <div class="form-group">
                 
                <label>Имя пользователя(email):</label>
               @Html.TextBoxFor(m => m.NameIn, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.PasswordIn)
              <div class="form-group">             
                <label>Пароль:</label>
                @Html.PasswordFor(m => m.PasswordIn, new { @class = "form-control" })
            </div>
            <input type="submit" value="Войти" class="btn btn-primary" />
        }
    </div>
</div>

