@model evrostroy.Web.Models.NavModel

<nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">

    @foreach (var i in Model.Attention)
            {
                    @Html.ActionLink(i, "ProductStock", "Catalog", new { metka = i }, new { @class = "btn btn-danger col-sm-12" })
            }

    <ul class="cd-accordion-menu animated ml-25">
        <li class="has-children">
            <input type="checkbox" name="group-111" id="group-111" checked>
            <label for="group-111">Входные двери</label>
            <ul class="ml-25">
                <li class="has-children">
                    <input type="checkbox" name="sub-group-111" id="sub-group-111">
                    <label for="sub-group-111">Производитель</label>
                    <ul class="ml-25">
                        @foreach (var i in Model.BrandOutDoor)
                        {
                            @Html.ActionLink(i, "ProductCat", "Catalog", new { num = 0, name = i }, new { @class = "btn btn-primary col-sm-12" })
                        }
                    </ul>
                </li>
             </ul>
        </li>
    </ul>

    <ul class="cd-accordion-menu animated ml-25">
        <li class="has-children">
            <input type="checkbox" name="group-211" id="group-211" checked>
            <label for="group-211">Межкомнатные двери</label>

            <ul class="ml-25">
                <li class="has-children">
                    <input type="checkbox" name="sub-group-211" id="sub-group-211">
                    <label for="sub-group-211">Производитель</label>

                    <ul class="ml-25">
                        @foreach (var i in Model.BrandInDoor)
                        {
                            @Html.ActionLink(i, "ProductCat", "Catalog", new { num = 2, name = i }, new { @class = "btn btn-primary col-sm-12" })
                        }
                    </ul>
                </li>
             </ul>
        </li>
    </ul>


    @for (int i=0; i < Model.Category.Count(); i++)
    {  
        <ul class="cd-accordion-menu animated ml-25">
            <li class="has-children">
                <input type="checkbox" name="group-@i" id="group-@i" checked>
                <label for="group-@i">@Model.Category.ElementAt(i)</label>
                <ul class="ml-25">
                    @if (Model.Category.ElementAt(i) != "Напольные покрытия")
                    {
                        for (int j = 0; j < Model.CategoryD.Count(); j++)
                        {
                            if (Model.CategoryD.ElementAt(j).Value == Model.Category.ElementAt(i))
                            {
                                    <li class="has-children">
                                        <input type="checkbox" name="sub-group-@(j + i)" id="sub-group-@(j + i)">
                                        <label for="sub-group-@(j + i)">@Model.CategoryD.ElementAt(j).Key</label>
                                        <ul class="ml-25">
                                            @foreach (KeyValuePair<string, string> z in Model.PodCategoryD)
                                            {
                                                if (z.Value == @Model.CategoryD.ElementAt(j).Key)
                                                {
                                                    @Html.ActionLink(z.Key, "ProductCat", "Catalog", new { name = z.Key, cat = Model.Category.ElementAt(i), podcat = z.Value }, new { @class = "btn btn-primary col-sm-12" })
                                                }
                                            }
                                        </ul>
                                    </li>
                            }
                        }
                    }
                    else
                    {
                        foreach (KeyValuePair<string, string> z in Model.CategoryD)
                        {
                            if (z.Value == @Model.Category.ElementAt(i))
                            {
                                @Html.ActionLink(z.Key, "ProductCat", "Catalog", new { name = z.Key, cat = Model.Category.ElementAt(i), podcat = z.Key }, new { @class = "btn btn-primary col-sm-12" })
                            }
                        }
                    }

                </ul>
         </li>
     </ul>
   }   
</nav>

