@model evrostroy.Web.Models.NavModel


<dir class="btn-group-vertical fll" style="margin-left:-63px">
    @foreach (var i in Model.Attention)
    {
             <dir>
                   @Html.ActionLink(i, "ProductStock", "Catalog", new { metka = i }, new { @class = "btn btn-danger col-sm-12", style = "width:170px"})
             </dir>
    }    
</dir>

<dir class="btn-group-vertical fll" style="margin-left:-23px">

   @for (int i = 0; i < Model.Lenght; i++)
   {
       switch (Model.Index.ElementAt(i))
       {
           case 0:
               {
                <div>
                  @Html.ActionLink(Model.AllItems.ElementAt(i), "ProductCategory", "Catalog", new { num = Model.Index.ElementAt(i), namecategory = Model.AllItems.ElementAt(i), route = Model.RoutProduct.ElementAt(i) }, new { @class = "btn btn-primary col-sm-12", style="background-color:black" })
                </div>
                   break;
               }
           case 1:
               {
                <div>
                    @Html.ActionLink(Model.AllItems.ElementAt(i), "ProductCategory", "Catalog", new { num = Model.Index.ElementAt(i), namecategory = Model.AllItems.ElementAt(i), route = Model.RoutProduct.ElementAt(i) }, new { @class = "btn btn-primary col-sm-12" })
                </div>
                   break;
               }
        
   case 2:
   case 3:
   case 4:
   case 5:
   case 6:
       {
                <div>
                    @Html.ActionLink(Model.AllItems.ElementAt(i), "ProductCategory", "Catalog", new { num = Model.Index.ElementAt(i), namecategory = Model.AllItems.ElementAt(i), route = Model.RoutProduct.ElementAt(i) }, new { @class = "btn btn-default col-sm-12" })
                </div>
                   break;
               }
           case 7:
               {
                <div class="btn btn-info">
                     @Model.AllItems.ElementAt(i)
                </div>
                   break;
               }

           default:
               break;
       }
   }

</dir>
